<!DOCTYPE html>
<html>
  <head>

<script src="./bower_components/platform/platform.js"></script>
<link rel="import" href="elements/translation-autocomplete.html">

<!-- google-chrome --allow-file-access-from-files -->

</head>
<body>

<div>
<translation-autocomplete
	id="autocomplete" 
	sourceCode="en"
	targetCode="es"
	apertiumApiKey="FORECATKEY">
</translation-autocomplete>
</div>

<style>
  div { width: 300px;}
  translation-autocomplete { font: bold 16px cursive;}
</style>

<script>
var component = document.querySelector('#autocomplete');

component.addEventListener('languagesReady', function (e) {
	console.log("Allowed languages in languagesReady event listener:"+ JSON.stringify(e.detail));
	// TODO: make sure an available pair is selected
	component.pair= "en-es";
	component.sourceText= "This here is the text to translate.";
});

component.addEventListener('translationReady', function (e) {
	console.log("Translation ready in translationReady event listener");
});



</script>

</body>
