body {
	font-size: 0.9em;
	font-family: Verdana, Arial, sans-serif;
	margin: 40px 40px 20px 40px;
}

label, h3 {
	display: block;
	font-weight: bold;
	padding: 20px 0 5px;
	color: #1D5987;
	font-size: 100%;
}

.instructions {
	margin-top: 50px;
}

#footer {
	font-size: 0.8em;
	margin: 30px 0 0;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#cccccc;
	color: #999999;
}

textarea {
	border-color: #5f99b9;
}

#title {
	font-size: 2.2em;
	font-weight: bold;
	color: #1D5987;
}

ol {
	font-size: 100%;
}

#wait2 {
	color: #555555;
}

#wait1 {
	color: #1D5987;
}

.form-wait {
	font-size: 0.9em;
	height: 20px;
	margin: 10px 0 0;
}

.form-from {
	margin-top: 10px;
}

.form-translate {
	margin-top: 10px;
}

.form-to {
	margin-top: 10px;
}
.ctrl {
	font-size: 0.75em;
	color: #bbbbbb;
	margin-right: 1.3em	;
	vertical-align: middle;
	/* display: block;
	float:right;
	width:12%;
	margin-left:5px;*/
}

.noctrl {
	font-size: 0.75em;
	color: #bbbbbb;
	margin-right: 1.3em	;
	vertical-align: middle;
	visibility: hidden;
}

.slidetoogleContent ol li {
	margin-top: 0.6em;
}

/* JQuery UI button */
.ui-button.ui-widget .ui-button-text{font-size: 0.75em; }


.ui-autocomplete {
	max-height: 190px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	/* seems not to be necessary in Chrome */
	padding-right: 0px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 190px;
}

/* Style for the suggestion list */
.ui-menu-item {
	font-size: 0.9em;
}

a:link {text-decoration: none; color: #666666;}
a:visited {text-decoration: none; color: #666666;}
a:active {text-decoration: none; color: #666666;}
a:hover {text-decoration: underline; color: #666666;}