<link rel="import" href="../bower_components/polymer/polymer.html">
<!--
<link rel="import" href="../bower_components/polymer-ajax/polymer-ajax.html">
-->

<polymer-element name="translation-autocomplete" attributes="pair maxSegmentLength sourceText apertiumApiKey bingApiKeyId bingApiKeySecret googleApiKey">
  <template>
    <style>
      ul {
        border: 1px solid gray;
        list-style: none;
        padding: 10px 0 10px 0;
        margin: 0;
        width: 300px;
        z-index: 9999;
        position: absolute;
        background-color: white;
      }
      
      li {
        padding: 5px 0 5px 0;
        cursor: pointer;
      }
      
      li:hover {
        background-color: #CCC;
      }
      
      li.selecting {
        background-color: #CCC;
      }
      #translation {
        width: 400px;
        max-height: 100px;
        overflow: auto;
      }
      [contenteditable="true"] { 
        padding: 10px; 
        outline: 2px dashed #CCC; 
      }
      [contenteditable="true"]:hover { 
        outline: 2px dashed #0090D2; 
      }
    </style> 
    <div id="translationBox" contentEditable="true" on-keyup="{{keyup}}"></div>
    <template if="{{results.length > 0}}">
      <ul>
        <template repeat="{{result in results}}">
          <li on-click="{{select}}">{{result}}</li>
        </template>
      </ul>
    </template> 
    
  </template>
  
  <script type="text/javascript" language="javascript"
	src="../../../forecat/forecat.nocache.js"></script>
	
<!-- 
  <script type="text/javascript" language="javascript"
	src="./rangy-core.js"></script>
	
  <script type="text/javascript" language="javascript"
	src="./rangy-textrange.js"></script>
-->
	
  <script type="text/javascript" language="javascript"
	src="./translation-autocomplete.js"></script>
	
</polymer-element>


